/* font */
@font-face {
    font-family: '';
    src: url();
}

/* style utama */
body {
    font: 18px/36px '';
    background-color: #aaa;
}


h1 {
    font-size: 88px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px  2px 2px white;
}
.container {
   width: 600px;
   background-color: white;
   margin: auto;
   padding: 3px;
   box-shadow:0 0 3px white(222, 10, 10, 0.2);
   border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: *hidden;
    border: 5px solid :blank;
    float: left;
    margin-right: 30px;
    position: relative;

}

.gallery li img {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: skyblue(0,0,0,.2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: blueviolet;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: 2s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}
/* Overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0);
    z-index: 9999;
    text-align: center;
    padding: 100px;
    border: 0;
}

.overlay:target {
    animation: Fade .5s;
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0, .7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 70px rgb(0, 0, 0, 5);
    border: 0;
}

.overlay:target img {
    animation: zoomRotateFade .5s;
    border-radius: 1%;
    border: 10px solid white;

}


.overlay .close {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -25px;
    color: white;
    text-decoration: none;
    background-color: red;
    border: 1px sold white;
    padding: 5px;
    line-height: 14px;
    opacity: 0;
    border-radius: 5px;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: Fade .5s .5s forwards;
}

/* Nav */

.next,
.prev {
    width: 57px;
    height: 93px;
    background-image: url(../latihan5/img/Next.png);
    position: absolute;
    text-indent: -9999;
    top: 45%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../latihan5/img/Prev.png);
    margin-left: -100px;
}

/* Animasi */

@keyframes Fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomRotateFade {
    0% {
        transform: scale(0);
        opacity: 0;
        rotate: 360deg;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        rotate: 0deg;

    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }


